/* global styles */

*:focus{outline:0}

html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{background-color:#212121;text-align:center;margin:0}
footer,main{display:block}
img,div{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}

button,input,select,textarea{color:inherit;font:inherit;margin:0}
button{overflow:visible}
button,select{text-transform:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
button,html input[type="button"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
input{line-height:normal}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}

table {border-collapse:collapse;border-spacing:0;color:#666;width:100%;font-size:13px;text-shadow:1px 1px 0px #fff;background:#eaebec}
th {padding:15px 5px;background:#ededed}
th:first-child{text-align:left;padding-left:20px}
tr.even td{background:#f6f6f6}
tr:last-child td{border-bottom:0}
tr td:first-child{text-align:left;padding-left:20px;border-left:0}
tr td{border-top:1px solid #ffffff;border-bottom:1px solid #e0e0e0;border-left:1px solid #e0e0e0;background:#fafafa}

a{color:#fff;text-decoration:none;padding:3px;margin:-3px}
a:hover{cursor:pointer}

/* a little more specific */

#progress-bar{width:100%;height:10px;background-color:rgba(25,25,25,0.5)}
#progress{background-color:#fff;width:0%;height:100%}

#money-wrapper{position:absolute;top:10px;left:50%;width:728px;height:90px;margin-left:-364px;background-color:rgba(25,25,25,0.9)}
#money-wrapper h4{color:#2B9664;margin:20px;line-height:25px}
#money-wrapper a:hover{text-decoration:underline}
#money{display:block;position:absolute;top:0;left:0;width:728px;height:90px;background-color:#2B2B2B}

#god-wrapper{margin:auto;max-width:900px}
#main{width:100%;margin:110px 0 60px 0}
#main-form{height:3em}
#main-text,#main-button{float:left;height:3em;border:0;border-radius:0;margin:0;padding:0 1em;box-sizing:border-box}
#main-text{width:75%;text-align:center}
#main-button{background-color:#2B9664;width:25%;-webkit-transition:all 0.1s ease;-moz-transition:all 0.1s ease;-o-transition:all 0.1s ease;transition:all 0.1s ease}
#main-button:hover{background-color:#3EB880}
#main-button:active{background-color:#297551}

#message{padding:20px;background-color:#F7F4F4}
#message a{color:#66CEFF}
#message a:hover{text-decoration:underline}

#results-header{width:100%;background-color:rgba(255,255,255,0.1);background-position:center;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;color:#ededed}
#results-options-wrapper{background-color:rgba(0,0,0,0.6);margin:0 auto;text-align:center}
#results-options{font-size:13px}
#results-options div{display:inline-block;padding:20px;text-align:left}
.option{margin:5px}

#kitty-img{max-width:90%;margin:20px 0 0 0}
#table-title-row{font-weight:700;text-decoration:underline}
#results-table td{padding:5px 10px;font-size:10px}
.download-buttons{border-radius:0;background-color:#333333;color:#fff;border:0;width:85px;height:25px;font-size:8px}
.download-buttons:hover{background-color:#5ED8D3;color:#000}
.down-loaders{display:none}

#loading{width:100%;padding:15px 0;background-color:rgba(25,25,25,0.9);color:#fff}

.modal{background-color:#fff;text-align:left;padding:10px;border-top:solid 1px #D6D6D6}
.modal p{line-height:1.4em;margin:10px}
.modal i{display:block;margin-bottom:10px}
.modal a{color:#000;text-decoration:underline}
#donate form{display:inline;margin:0}
.md-close{display:block;width:100%;padding:15px 10px;margin:20px -10px -10px -10px;text-align:center;border-top:solid 1px #D6D6D6;color:#757575!important}

#footer{position:fixed;bottom:0;left:0;width:100%;background-color:rgba(25,25,25,0.9);font-size:13px;height:40px}
#footer li{list-style-type:none;padding:0;width:33.333%;width:calc(100%/3);float:left}
#footer a{display:block;line-height:40px;width:100%}
#footer a:hover{text-decoration:underline}
#info,#social{margin:0;max-width:250px;display:inline-block;width:100%}
#info{float:left}
#social{float:right;padding-right:40px}
#social li{float:right}

.hidden{display:none}
.left{text-align:left}

/* "responsive design" */

@media only screen and (max-width:500px) {
  #results-table td{font-size:7px;padding:6px}
  .download-buttons{width:60px;font-size:6px}

  #footer{text-align:center}
  #social{display:none}
}

@media only screen and (max-width:728px) {
  #progress-bar{height:20px}

  #money-wrapper{display:none}
  
  #main{width:100%;margin:0 0 40px 0}
  #main-text,#main-button,#main-form{height:4em}

  #kitty-img{max-width:90%;margin-bottom:20px}

  #info{max-width:100%;padding:0}
}
