@import 'variables';

.song {
  display: flex;
  position: relative;
  margin: 0 10px;
  padding: 0;
  transition: box-shadow 1s linear;
  border-bottom: solid 1px $white-dark;
  font-size: .8rem;
  line-height: 50px;
  white-space: nowrap;
}

.song__progress {
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 1px;
  transition: width 1s linear, opacity 3s;
  background-color: $gray-dark;
  z-index: 100;

  &[data-toggled='false'] {
    opacity: 0;
  }
}

.song__artwork {
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  margin: 10px 0;
  border: solid 1px $white-dark;
  border-radius: 3px;
  vertical-align: middle;
}

.song__num {
  margin: 0 5px 0 15px;
  color: $gray;
}

.song__title {
  font-weight: 800;
}

.song__artist {
  flex-grow: 1;
  color: $gray;
}

.song__title,
.song__artist {
  margin-left: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: text-bottom;
}

.song__show {
  margin-left: 10px;
  padding: 0;
  transition: opacity 2s;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  color: $gray-dark;
  font-size: .6rem;
  line-height: 35px;
  text-decoration: underline;
  cursor: pointer;
  opacity: 0;
  vertical-align: top;

  &:focus {
    outline: none;
  }

  &[data-toggled='true'] {
    opacity: 1;
  }
}
