@import 'variables';

.header {
  display: none;
}

.platform-darwin .header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  margin: 0;
  border-bottom: solid 1px $gray-light;
  background: $gray-lighter;
  color: $gray;
  font-size: .8rem;
  font-weight: 500;
  line-height: $header-height;
  text-align: center;
  z-index: 1;
  user-select: none;
}
