@import 'variables';

.instructions {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 100px;
  margin: -50px 0 0;
  transition: opacity 1s;
  color: $gray-dark;
  font-size: 1.2rem;
  text-align: center;

  &[data-toggled='false'] {
    opacity: 0;
    z-index: -10;
  }
}

.platform-darwin .instructions {
  margin: -50px + $header-height 0 0;
}
