.song {
  display: flex;
  position: relative;
  padding: 0 10px;
  border-bottom: solid 1px #f0f0f0;
  transition: box-shadow 1s linear;
  font-size: 0.8rem;
  line-height: 35px;
  white-space: nowrap;
}

.song__progress {
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 1px;
  background-color: #bbb;
  transition: width 1s linear, opacity 3s;
  z-index: 100;

  &[data-toggled="false"] {
    opacity: 0;
  }
}

.song__artwork {
  width: 25px;
  height: 25px;
  margin: 5px 0;
  border-radius: 3px;
  vertical-align: middle;
}

.song__title {
  font-weight: 800;
}

.song__artist {
  flex-grow: 1;
  color: #555;
}

.song__title,
.song__artist {
  margin-left: 10px;
  vertical-align: text-bottom;
  overflow: hidden;
  text-overflow: ellipsis;
}

.song__show {
  margin-left: 10px;
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: transparent;
  transition: opacity 2s;
  color: #555;
  text-decoration: underline;
  font-size: 0.6rem;
  line-height: 35px;
  vertical-align: top;
  opacity: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &[data-toggled="true"] {
    opacity: 1;
  }
}
