.instructions {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
  transition: opacity 1s;
  color: #555;
  font-size: 1.2rem;
  text-align: center;
}

.instructions[data-toggled='false'] {
  opacity: 0;
  z-index: -10;
}
